{% load static %}
{% load bootstrap4 %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}Micro Crack Estimator System{% endblock %}</title>

    <link rel="icon" href="{% static 'estimator/icons/favicon.ico' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="{% static 'estimator/css/sticky-footer-navbar.css' %}" rel="stylesheet">

    {# jQuery autocomplete styling source: https://stackoverflow.com/questions/28285813/style-jquery-autocomplete-in-a-bootstrap-input-field #}
    <link href="{% static 'estimator/css/jquery-ui.css' %}" rel="stylesheet"/>
</head>

<body>

<header>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Fixed navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'estimator:home' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'estimator:file-list' %}">Estimator</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'report:download-page' %}">Report</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'trends:yield-rate-maintenance-chart' %}">Machine Trend</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<!-- Begin page content -->
<main role="main" class="container">
    {% block content %}
    {% endblock %}
</main>

<footer class="footer">
    <div class="container">
        <span class="text-muted">Copyright © {% now 'Y' %} National Central University. All Rights Reserved</span>
    </div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="{% static 'estimator/js/jquery-ui.min.js' %}"></script>
<script src="{% static 'estimator/js/bootstrap.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

{% block javascript %}
{% endblock %}

</body>
</html>