{% extends 'estimator/base.html' %}

{% load static %}

{% block title %}File List{% endblock %}

{% block content %}
    <h1 class="mt-5">File List</h1>

    <a href="{% url 'estimator:file-create' %}" class="btn btn-primary pull-right">Upload File</a>
    <br><br>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col" class="text-center">ID</th>
            <th scope="col" class="text-center">Start Period</th>
            <th scope="col" class="text-center">End Period</th>
            <th scope="col">File Type</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% if file_list %}
            {% for file in file_list %}
                <tr>
                    <th scope="row" class="text-center">{{ file.id }}</th>
                    <td scope="row" class="text-center">{{ file.start_period }}</td>
                    <td scope="row" class="text-center">{{ file.end_period }}</td>
                    <td scope="row">
                        {% if file.type == 0 %}
                            Production Data (by Check In Time)
                        {% elif file.type == 1 %}
                            Production Data (by Warehouse Checking Date)
                        {% elif file.type == 2 %}
                            Machine Maintenance History
                        {% elif file.type == 3 %}
                            Machine Bad Phenomenon Data (by Check In Time)
                        {% elif file.type == 4 %}
                            Machine Bad Phenomenon Data (by Warehouse Checking Date)
                        {% elif file.type == 5 %}
                            GBOM Data
                        {% endif %}
                    </td>
                    <td scope="row">
                        {# Let user analyze only production data type only #}
                        {% if file.type == 0 %}
                            <button id="button-{{ file.pk }}" data-href="{% url 'estimator:file-analyze' file.pk %}" class="btn btn-primary">
                                Analyze
                            </button>
                            <a href="{% url 'estimator:file-delete' file.pk %}" class="btn btn-danger">
                                Delete
                            </a>
                        {% elif file.type == 1 %}
                            <button id="button-{{ file.pk }}" data-href="{% url 'estimator:file-analyze' file.pk %}" class="btn btn-primary">
                                Analyze
                            </button>
                            <a href="{% url 'estimator:file-delete' file.pk %}" class="btn btn-danger">
                                Delete
                            </a>
                        {% else %}
                            <a href="{% url 'estimator:file-delete' file.pk %}" class="btn btn-danger">
                                Delete
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>


{% endblock %}

{% block javascript %}
    <script src="{% static 'estimator/js/jquery.blockUI.js' %}"></script>
    <script>
        $( document ).ready(function() {

            // Source:
            // https://stackoverflow.com/questions/47342683/django-pass-a-list-items-id-pk-to-the-view-with-jquery-ajax
            $(".btn-primary").click(function(){
                $.blockUI({
                    message: '<p><img height="25" width="25" src="{% static 'estimator/gif/busy.gif' %}" /> Analysis in process</p><p><strong>Do not refresh or close the page while the page still running...</strong></p>'
                });

                var postData = {
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                }
                $.ajax({
                    type: "POST",
                    url: $(this).attr("data-href"),
                    data: postData,
                    success: function(response) {
                        $.unblockUI({
                            onUnblock: function(){ alert(response.message); }
                        });
                    },
                    error: function (error) {
                        $.unblockUI({
                            onUnblock: function(){ alert(error.responseJSON.error); }
                        });
                    }
                })
            });
        })
    </script>
{% endblock %}