{% extends 'estimator/base.html' %}

{% block title %}File List{% endblock %}

{% block content %}
    <h1 class="mt-5">File List</h1>

    <a href="{% url 'estimator:file-create' %}" class="btn btn-primary float-right" >Upload File</a>
    <br><br>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">File Name</th>
            <th scope="col">Last Modified</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% if file_list %}
            {% for file in file_list %}
                <tr>
                    <th scope="row">{{ file.id }}</th>
                    <td>{{ file.title }}</td>
                    <td>{{ file.last_modified }}</td>
                    <td>
                        <div class="btn-group" role="group">
                            <button class="btn btn-secondary dropdown-toggle" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Select <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                 {# Production data by check in time #}
                                {% if file.type == 0 %}
                                    <a href="{% url 'estimator:file-analyze' pk=file.pk %}" class="dropdown-item">
                                        Analyze Data
                                    </a>

                                    {# Production data by warehouse check in date #}
                                {% elif file.type == 1 %}
                                    <a href="{% url 'estimator:file-analyze' pk=file.pk %}" class="dropdown-item">
                                        Analyze
                                    </a>
                                {% endif %}
                                {#                                <a href="{% url 'estimator:file-update' file.pk %}" class="dropdown-item">#}
                                {#                                    Update</a>#}
                                <a href="{% url 'estimator:file-delete' file.pk %}" class="dropdown-item">
                                    Delete
                                </a>
                            </ul>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
{% endblock %}