{% extends 'estimator/base.html' %}

{% block title %}Report List{% endblock %}

{% block content %}
    <h1 class="mt-5">Report List</h1>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Week No</th>
            <th scope="col">Last Modified</th>
            <th scope="col">Download</th>
        </tr>
        </thead>
        <tbody>
        {% if report_list %}
            {% for report in report_list %}
                <tr>
                    <th scope="row">{{ report.id }}</th>
                    <td>{{ report.week }}</td>
                    <td>{{ report.last_modified }}</td>
                    <td>
                        <div class="btn-group" role="group">
                            <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Select
                            </button>
                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                <a href="" class="dropdown-item">
                                    Cell-based</a>
                                <a href="" class="dropdown-item">
                                    Panel-based</a>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
{% endblock %}