{% extends 'estimator/base.html' %}
{% load bootstrap4 %}

{% block content %}
    <h1 class="mt-5">Trend</h1>

    <form method="post" id="trend_form">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button class="btn btn-primary" id="go_button" type="submit">Go</button>
    </form>
    <br>
    <div id="trend_chart" style="height: 370px; width: 100%;"></div>
{% endblock %}

{% block javascript %}
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script>
        // A $( document ).ready() block.
        $( document ).ready(function() {

            {# Machine charfield autocomplete function #}
            {# Source: https://stackoverflow.com/questions/5074329/django-jquery-and-autocomplete #}
            $("#id_machine").on('keyup', function(){
                var value = $(this).val();
                $.ajax({
                    url: "{% url 'estimator:machine-autocomplete' %}",
                    data: {
                        'search': value
                    },
                    dataType: 'json',
                    success: function (data) {
                        {#console.log(data.list)#}
                        list = data.list;
                        $("#id_machine").autocomplete({
                            source: list,
                            minLength: 1,
                            messages: {
                                noResults : '',
                                results : function(resultsCount) {}
                            }
                        });
                    }
                });
            });

            $('.ui-autocomplete').css('list-style-type', 'none').css('text-decoration', 'none')

            {# Trend form submission handler #}
            $('#trend_form').submit(function (event) {
                event.preventDefault();

                trend_data = []
                maintenance_data = []
                var form = $(this).closest("form");
                $.ajax({
                    url: "{% url 'estimator:get-machine-trends-and-maintenance' %}",
                    data: form.serialize(),
                    dataType: 'json',
                    success: function (response) {
                        data = jQuery.parseJSON(response)
                        {#console.log(data)#}

                        $.each(data, function (key, value) {
                            if (key == 'trends_data') {
                                $.each(value, function (key, value) {
                                    {#console.log(key, value)#}
                                    trend_data.push({'x': value['week'], 'y': value['yield_rate']})
                                })
                            } else if (key == 'maintenance_data') {
                                $.each(value, function (key, value) {
                                    {#console.log(key, value)#}
                                    maintenance_data.push({'x': value['check_in_week'], 'y': value['occurrence']})
                                })
                            }
                        })

                        renderChart(maintenance_data)

                        console.log(trend_data)
                        console.log(maintenance_data)

                        {# Source: https://stackoverflow.com/questions/22726410/how-to-use-ajax-call-to-populate-line-graph-in-highcharts#}
                        {#                        chart_data = $.map(data, function (value) {#}
                        {#                            return {x: value['week'], y: value['yield_rate']};#}
                        {#                        });#}
                        {#                        #}
                        {#                        #}
                        {##}
                        {#                        renderChart(chart_data);#}
                    }, error: function(error) {
                        $('#trend_chart').hide()
                        alert("No data found! Please check your input parameters!")
                    }
                });
                return false;
            });

            {# Line chart rendering function #}
            {# https://canvasjs.com/javascript-charts/solid-dashed-line-chart/ #}
            function renderChart(chart_data) {
                var chart = new CanvasJS.Chart("trend_chart", {
                    animationEnabled: true,
                    theme: "light2",
                    title:{
                        {#text: $('#id_machine').val()#}
                    },
                    axisX:{
                        title: "Week No",
                        {#valueFormatString: "DD MMM",#}
                        crosshair: {
                            enabled: true,
                            snapToDataPoint: true
                        }
                    },
                    axisY: {
                        {#title: "Weekly Yield Rate",#}
                        crosshair: {
                            enabled: true
                        }
                    },
                    toolTip:{
                        shared:true
                    },
                    legend:{
                        cursor:"pointer",
                        verticalAlign: "bottom",
                        horizontalAlign: "left",
                        dockInsidePlotArea: true,
                        itemclick: toogleDataSeries
                    },
                    data: [{
                        type: "line",
                        showInLegend: true,
                        name: $('#id_machine').val() + " Yield Rate",
                        markerType: "square",
                        {#xValueFormatString: "DD MMM, YYYY",#}
                        color: "#F08080",
                        dataPoints: chart_data
                    }]
                });

                $('#trend_chart').show()
                chart.render();

                function toogleDataSeries(e){
                    if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                        e.dataSeries.visible = false;
                    } else{
                        e.dataSeries.visible = true;
                    }
                    chart.render();
                }
            }
        });
    </script>

    {{ form.media }}
{% endblock %}