{% extends 'estimator/base.html' %}
{% load bootstrap3 %}

{% block content %}
    <h1 class="mt-5">Trend</h1>

    <form method="post" id="trend_form">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button class="btn btn-primary" id="go_button" type="submit">Go</button>
    </form>
    <br>
    <div id="chartContainer" style="height: 400px; width: 100%;"></div>
{% endblock %}

{% block javascript %}
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script>
        // A $( document ).ready() block.
        $( document ).ready(function() {

            {# Machine charfield autocomplete function #}
            {# Source: https://stackoverflow.com/questions/5074329/django-jquery-and-autocomplete #}
            $("#id_machine").on('keyup', function(){
                var value = $(this).val();
                $.ajax({
                    url: "{% url 'estimator:machine-autocomplete' %}",
                    data: {
                        'search': value
                    },
                    dataType: 'json',
                    success: function (data) {
                        {#console.log(data.list)#}
                        list = data.list;
                        $("#id_machine").autocomplete({
                            source: list,
                            minLength: 2,
                            messages: {
                                noResults : '',
                                results : function(resultsCount) {}
                            }
                        });
                    }
                });
            });

            {# Trend form submission handler #}
            $('#trend_form').submit(function (event) {
                event.preventDefault();

                trend_data = []
                maintenance_data = []
                var form = $(this).closest("form");
                $.ajax({
                    url: "{% url 'estimator:get-machine-trends-and-maintenance' %}",
                    data: form.serialize(),
                    dataType: 'json',
                    success: function (response) {
                        data = jQuery.parseJSON(response)
                        console.log(data)

                        $.each(data, function (key, value) {
                            if (key == 'yield_rate') {
                                $.each(value, function (key, value) {
                                    {#console.log(key, value)#}
                                    trend_data.push({'x': value['period_in_week'], 'y': value['yield_rate']})
                                })
                            } else if (key == 'maintenance_history') {
                                $.each(value, function (key, value) {
                                    {#console.log(key, value)#}
                                    maintenance_data.push({'x': value['check_in_week'], 'y': value['occurrence']})
                                })
                            }
                        })
                        {#console.log(trend_data)#}
                        {#console.log(maintenance_data)#}
                        renderChart(trend_data, maintenance_data)

                    }, error: function(error) {
                        $('#chartContainer').hide()
                        alert("No data found! Please check your input parameters!")
                    }
                });
                return false;
            });


            {# Line chart rendering function #}
            function renderChart(trend_data, maintenance_data) {
                var chart = new CanvasJS.Chart("chartContainer", {
                    animationEnabled: true,
                    exportFileName: "Machine Trends and Maintenance Chart",  //Give any name accordingly
                    exportEnabled: true,
                    title: {
                        text: "Machine Trends and Maintenance Chart"
                    },
                    axisX: {
                        prefix: "Week "
                    },
                    axisY: {
                        title: "Estimated Yield Rate",
                        lineColor: "#C24642",
                        tickColor: "#C24642",
                        labelFontColor: "#C24642",
                        titleFontColor: "#C24642",
                        minimum: 0,
                        maximum:1
                    },
                    axisY2: {
                        title: "Maintenance Occurrence",
                        lineColor: "#2c96ee",
                        tickColor: "#2c96ee",
                        labelFontColor: "#2c96ee",
                        titleFontColor: "#2c96ee"
                    },
                    toolTip: {
                        shared: true,
                        contentFormatter: function (e) {
                            var content = " ";
                            for (var i = 0; i < e.entries.length; i++) {
                                if (i == 0) {
                                    content += "Week " + e.entries[i].dataPoint.x + " data:";
                                    content += "<br/>";
                                }

                                content += e.entries[i].dataSeries.name + ": " + "<strong>" + e.entries[i].dataPoint.y + "</strong>";
                                content += "<br/>";
                            }
                            return content;
                        }
                    },
                    legend: {
                        cursor: "pointer",
                        itemclick: toggleDataSeries
                    },
                    data: [
                        {
                            type: "line",
                            name: "Yield Rate",
                            color: "#C24642",
                            axisYIndex: 0,
                            showInLegend: true,
                            dataPoints: trend_data
                        },
                        {
                            type: "line",
                            name: "Maintenance Occurrence",
                            color: "#2c96ee",
                            axisYType: "secondary",
                            showInLegend: true,
                            dataPoints: maintenance_data
                        }
                    ]
                })

                $('#chartContainer').show()
                chart.render();
            }

            function toggleDataSeries(e) {
                if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                    e.dataSeries.visible = false;
                } else {
                    e.dataSeries.visible = true;
                }
                e.chart.render();
            }
        })
    </script>

    {{ form.media }}
{% endblock %}