{% load static %}

{% load bootstrap3 %}
{% bootstrap_css %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'estimator/icons/favicon.ico' %}">

    <title>Login</title>

    <!-- Custom styles for this template -->
    <link href="{% static 'estimator/css/login.css' %}" rel="stylesheet">
</head>

<body class="text-center">
<form class="form-signin" method="post">
    {% csrf_token %}
    <h1 class="h3 mb-3 font-weight-normal">Please log in</h1>
    {% bootstrap_form form %}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    <p class="mt-5 mb-3 text-muted">Copyright © {% now 'Y' %} National Central University. All Rights Reserved</p>
</form>
</body>
</html>